* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 20px;
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif; }

.hero-wrapper {
  max-width: 100%;
  height: 500px; }
  .hero-wrapper .hero {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../images/hero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/hero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/hero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .hero-wrapper .callout {
    width: 416px;
    min-height: 200px;
    margin-top: 150px;
    margin-bottom: 120px;
    text-align: center; }
    .hero-wrapper .callout .desc {
      color: #FFF;
      margin-bottom: 55px;
      font-size: 18px; }
    .hero-wrapper .callout .site-button {
      padding: 10px 25px;
      background-color: #79ADDC;
      text-decoration: none;
      color: #FFF;
      width: 121.62px;
      height: 40.04px; }
    .hero-wrapper .callout .comp-name {
      font-size: 50px;
      color: #FFF; }

nav {
  position: absolute;
  width: 1024px;
  height: 92px;
  border-bottom: 2px solid #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .logo {
    width: 96px;
    height: 42px; }
  nav .link-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    nav .link-wrap .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-transform: lowercase; }
      nav .link-wrap .links a {
        color: #FFF;
        font-size: 15px;
        text-decoration: none; }
      nav .link-wrap .links span {
        margin: 0 10px;
        color: #79ADDC;
        font-size: 28px; }

.plans {
  height: 500px;
  margin-bottom: 100px; }
  .plans .travel-plan {
    width: 236px;
    height: 304px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    display: inline-block; }
    .plans .travel-plan .card-title {
      color: #FFF;
      font-family: "Roboto", sans-serif;
      font-size: 45px;
      margin-top: 40px;
      margin-bottom: 30px; }
    .plans .travel-plan .card-price {
      color: #FFF;
      margin-bottom: 60px; }
  .plans .tour-01 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../images/tour-01.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-01.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-01.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-01.jpg"); }
  .plans .tour-02 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../images/tour-02.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-02.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-02.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-02.jpg");
    margin: 0 35px; }
  .plans .tour-03 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../images/tour-03.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-03.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-03.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/tour-03.jpg"); }
  .plans .travel-button {
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 65%;
    width: 133px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #79ADDC;
    text-decoration: none; }

.booking-form {
  width: 716px;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: "Lato", sans-serif; }
  .booking-form ::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
    font-size: 125%; }
  .booking-form input {
    padding: 10px;
    width: 322px;
    margin-right: 15px;
    margin-bottom: 13px; }
  .booking-form label {
    margin-right: 11px; }
  .booking-form label[for=checkin] {
    margin-right: 24px; }
  .booking-form .form-dates {
    width: 75%;
    margin-left: 20px;
    background-image: url("../../images/calendar-alt-regular.svg");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-size: 1.5em; }
  .booking-form input[type=submit] {
    margin-top: 10px;
    width: 92.5%;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    background-color: #79ADDC;
    color: #FFF;
    font-size: 65%;
    border-radius: 15px;
    height: 60.59px; }
  .booking-form select {
    width: 10%;
    height: 58px;
    font-family: "Lato", sans-serif;
    margin: 0 43px;
    text-indent: 33%; }
  .booking-form textarea[name=message] {
    margin-top: 5%;
    width: 92.5%;
    height: 192px; }
  .booking-form textarea::-webkit-input-placeholder {
    line-height: 2.5em;
    text-indent: 2%; }

.form-title {
  font-size: 50px; }

.footer {
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer .logo {
    width: 96px;
    height: 42px;
    margin-left: 5%; }
  .footer .copyright-info {
    font-size: 12px;
    color: #FFF;
    margin: 0 auto; }
  .footer .social-media {
    margin-right: 10%; }
  .footer .fab {
    background-color: #79ADDC;
    color: #FFF;
    margin-right: 15px;
    font-size: 1.25em; }
