//site colors
$site-white: #FFF;
$site-blue: #79ADDC;
$site-black: #000;

//button dimensions
$square-button-width: 121.62px;
$square-button-height: 40.04px;
$round-button-width: 133px;
$round-button-height: 40px;

//card dimensions
$card-width: 236px;
$card-height: 304px;

//font families and sizes
$title-fonts: 'Roboto', sans-serif;
$title-font-size: 50px;
$desc-fonts: 'Lato', sans-serif;
$desc-font-size: 18px;
$button-font-size: 65%;
$form-font-size: 125%;

//general
$site-full-width: 1280px;
$card-title-size: 45px;
