.contact {
    width: 1000px;
    margin-top: 150px;

    .contact-header {
        color: black;
        font-size: 30px;
    }

    .contact-info {
        margin-top: 300px;
    }

    .contact-major {
        margin-bottom: 460px;
    }
    .contact-map {
        width: 375px;
        height: 420px;
        background-image:
           url("../../images/map.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 40px;
        float: left;
    }

    .contact-button {
        padding: 10px 25px;
        background-color: $site-blue;
        text-decoration: none;
        color: $site-white;
        width: 200px;
        height: 50px;
        top: 80%;
        left: 50%;
        position: absolute;
    }

    .contact-line {
        width: 13%;
        height: 4px;
        background-color: $site-black;
        margin-top: -.75em;
        margin-bottom: 30px;
    }

    .contact-comp {
        margin-bottom: 20px;
    }

    form {
        width: 500px;
        margin-bottom: 250px;
    }

    .contact-form {
        float: right;
        input {
            width: 500px;
            height: 60px;
            margin-bottom: 21px;

        }
    }

}