.hero-wrapper {
    width: 100%;
    height: 500px;

    .hero {
        width: 1280px;
        height: 100%;
        //centers the callout
        display: flex;
        flex-direction: column;
        align-items: center;
         background-image: linear-gradient(
             to right, 
             rgba($site-black, .4), 
             rgba($site-black, .4)
            ),
            url("../../images/hero.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;

        .callout {
            width: 416px;
            min-height: 200px;
            margin-top: 90px;
            text-align: center;

            .desc {
                color: $site-white;
                margin-bottom: 55px;
            }
            
            .site-button {
                padding: 10px 25px;
                background-color: $site-blue;
                text-decoration: none;
                color: $site-white;
            }

            .comp-name {
                font-size: 60px;
                color: $site-white;
            }

        }

    }



}